*.o
*.obj
*.blend*
*.dwg
*.dxf
*.map
*.pdf
*.zip
*.tar
*.tar.gz
*.gz
*.db
tags
db
eagle
.clang_complete
avr/avrreflash/after_flash
avr/avrreflash/alternate
avr/avrreflash/alternate_more
avr/avrreflash/before
avr/avrreflash/before_flash
avr/avrreflash/dump
avr/avrreflash/flash.hex
avr/avrreflash/main.bytes
avr/avrreflash/main.reflash.noboot
avr/avrreflash/numbers
avr/avrreflash/prog.txt
avr/avrreflash/test.sh
avr/avrreflash/uart
avr/avrreflash/xaa
avr/avrreflash/xab
avr/avrreflash/xac
avr/avrreflash/xad
avr/avrreflash/xae
avr/avrreflash/xaf
avr/avrreflash/xag
avr/avrreflash/xah
dorisim/dorisim
dorisim/test
file_transfer_todo.txt
fonts/OCRA.ttf
fonts/OCRB.ttf
fonts/OCRBE.ttf
fonts/OCRBF.ttf
fonts/OCRBL.ttf
fonts/OCRBS.ttf
fonts/OCRBX.ttf
gateway/amazing.png
gateway/gateway
gateway/image_backups/img_0.jpg
gateway/image_backups/img_1.jpg
multiarcball/libmultiarcball.so
sample_file
shell.log
shell/send
test
tests/decan
tests/decan2
tests/modem/test_server/test_server
tests/nunchuck/main
tests/out
tk/data/a
tk/data/test.csv
tk/send
tk/tk
widgets/libwidgets.so
data/siteobjects.db
